{% extends 'main/global_layout.html' %}
{% load static %}
{% block title %}Курс Python - Карта квестов{% endblock %}

{% block content %}

    <script src="{% static 'quests/js/navbar.js' %}"></script>

    <div class="quests_content">

        <div class="quests_nav_container">
            <a href="" class="nav-item disabled">Свежее</a>
            <div class="highlight-bar"></div>
        </div>

        <div class="search-container">
            <input type="text" placeholder="Поиск по постам">
            <button onclick="window.location.href='{% url 'create_post' %}';">Создать пост</button>
        </div>


        <div id="posts-container">
            {% for post in posts %}
            <div class="post" onclick="window.location.href='{% url 'post_detail' post.id %}';">

                <div class="user-avatar">
                    {% if post.author.profile.avatar %}
                        <img src="{{ post.author.profile.avatar.url }}" alt="Аватар {{ post.author.username }}"> <!-- Аватар пользователя -->
                    {% else %}
                        <img src="{% static 'forum/img/defoult_avatar.jpg' %}" alt="Аватар по умолчанию"> <!-- Аватар по умолчанию -->
                    {% endif %}
                    <p>{{ post.author.username }}</p> <!-- Имя пользователя -->
                </div>
                <div class="post-content">
                    <h2>{{ post.title }}</h2>   <!-- Заголовок поста -->
                    <p>{{ post.content|slice:":225" }}</p> <!-- Ограничение на вывод символов в 225 -->
                    <div class="post-footer">
                        <div>{{ post.created_at|date:"d.m.Y H:i" }}</div>   <!-- Датта создания поста -->
                        <div>Просмотры: {{ post.views }}</div>  <!-- Просмотры -->
                        <div>Комментарии: {{ post.comment_count }}</div>    <!-- Коментарии -->
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>


        <div class="pagination" id="pagination">
            <button id="prev-button" onclick="changePage(-1)">← Пред.</button>
            <span id="page-info"></span>
            <button id="next-button" onclick="changePage(1)">След. →</button>
        </div>

    </div>


{% endblock %}