{% extends 'main/global_layout.html' %}
{% load static %}
{% block title %}Курс Python - Задачи{% endblock %}

{% block content %}

    <script src="{% static 'quests/js/navbar.js' %}"></script>

    <div class="quests_content">
        <div class="quests_nav_container">
            <a href="" class="nav-item disabled">Все задачи</a>
            <a href="#" class="nav-item active">Личные задачи</a>
            <div class="highlight-bar"></div>
        </div>

        <div onclick="" class="task_card">
            <div class="task_card_format">
                <div class="task_avatar">
                    <img src="{% static 'forum/img/defoult_avatar.jpg' %}" alt="">
                    <h3 align="center">Я думаю, быть программистом круто</h3>
                </div>
                <h2>Тема: Print</h2>
                <p align="left" >Стартовые задачи начинающего программиста)</p>
                <div class="bottom_element">
                    <div class="badge text-bg-success text-wrap" style="font-size: 8px; text-align: center; width: 70px; height: 15px;">
                        Доступен
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}