{% extends 'main/global_layout.html' %}
{% load static %}
{% block title %}PythonBoom - Написание Статьи{% endblock %}

{% block content %}

    <script src="{% static 'quests/js/navbar.js' %}"></script>
    {{ article_form.media }}

    <div class="quests_content">
        <div class="quests_nav_container">
            <a href="{% url 'articles' %}" class="nav-item active">Все статьи</a>
            <div class="highlight-bar"></div>
        </div>

        <div class="form-container create-post" style="margin-top: 30px;">
            <h1>Написать статью</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group create-post">
                    {{ article_form.as_p }}
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn-submit">Опубликовать</button>
                </div>
            </form>
        </div>

        <div style="height: 30px;">
            <!-- подушка, даёт разрыв между блоками -->
        </div>
    </div>

{% endblock %}