{% extends 'main/global_layout.html' %}
{% load static %}
{% block title %}Курс Python - Карта квестов{% endblock %}

{% block content %}

    <script src="{% static 'quests/js/navbar.js' %}"></script>

    <div class="quests_content">
            <div class="quests_nav_container">
                <a href="#" class="nav-item active">Моё обучение</a>
                <a href="{% url 'quests' %}" class="nav-item active">Карта квестов</a>
                <a href="" class="nav-item disabled">Лекции</a>
                <div class="highlight-bar"></div>
            </div>
    </div>


{% endblock %}