{% extends 'main/global_layout.html' %}
{% load static %}
{% block title %}Курс Python - Карта квестов{% endblock %}

{% block content %}

    <script src="{% static 'quests/js/navbar.js' %}"></script>

    <style>
        #quests {
            background: url('{% static "quests/img/bubble.svg" %}') 520px -10px no-repeat,
                        url('{% static "quests/img/bubble.svg" %}') -160px 200px no-repeat,
                        #1f2023;
            background-size: 53%;
        }
    </style>

    <div class="quests_content" id="quests">
        <div class="quests_nav_container">
            <a href="#" class="nav-item active">Моё обучение</a>
            <a href="" class="nav-item disabled">Карта квестов</a>
            <a href="{% url 'lectures' %}" class="nav-item active">Лекции</a>
            <div class="highlight-bar"></div>
        </div>

        <div class="quests_card">

            <div onclick="window.location.href='{% url 'python_basic' %}';" class="quests_card_format" style="cursor: pointer;">
                <img src="{% static 'quests/img/1024.webp' %}" alt="" style="margin: -21px; border-radius: 15px;">
                <h3 align="center">Python Basic.</h3>
                <p align="left" >Квест "Python Basic" усвоит даже тот, кто никогда не программировал. Вы узнаете, что такое классы, объекты, методы, переменные, типы данных, массивы, условные операторы
                    и циклы. Глянете одним глазком на коллекции и ООП.</p>
                <div class="bottom_element">
                    <div class="badge text-bg-success text-wrap" style="font-size: 8px; text-align: center; width: 70px; height: 15px;">
                        Доступен
                    </div>
                </div>
            </div>

            <div class="quests_card_format">
                <img src="{% static 'quests/img/development.svg' %}" alt="" style="margin: -21px; border-radius: 15px;">
                <h3 align="center">Python Basic Pro.</h3>
                <p align="left">Квест "Python Basic Pro" рассчитан на тех, кто уже получил минимальную подготовку по Python (в рамках Квеста "Python Basic"). Здесь вам предстоит пройти 10 увлекательных уровней,
                    в которых вы изучите основы ООП, познакомитесь с потоками, сериализацией, перегрузкой методов, узнаете много нового об интерфейсах и множественном наследовании.</p>
                <div class="bottom_element">
                    <div class="badge text-bg-danger text-wrap" style="font-size: 8px; text-align: center; width: 70px; height: 15px;">
                        В разработке
                    </div>
                </div>
            </div>

            <div class="quests_card_format">
                <img src="{% static 'quests/img/development.svg' %}" alt="" style="margin: -21px; border-radius: 15px;">
                <h3 align="center">Python Advance.</h3>
                <p align="left">Квест "Python Advance" рассчитан на тех, кто уже получил подготовку по Python (в рамках Квеста "Python Basic и Python Basic Pro").</p>
                <div class="bottom_element">
                    <div class="badge text-bg-danger text-wrap" style="font-size: 8px; text-align: center; width: 70px; height: 15px;">
                        В разработке
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="background: var(--main-bg-color); margin-top: -22px;">
        <div class="content_block" style="min-height: 230px; padding-top: 50px;">
            <div style="max-width: 180px;">
                <img src="{% static 'main/img/logo_simple.svg' %}" alt="" style="max-width: 50%; margin-bottom: 10px; margin-top: -5px;">
               <p style="font-size: 8px; color: #fff;">PythonBoom — это онлайн-курс по изучению Python-программирования c нуля с возможностью обучаться самостоятельно. В нем — большое количество задач с проверкой решения в один клик,
                теория по основам Python  и практика работы с современными технологиями и инструментами, а также мотивационные фичи: игры, тесты, и статьи об эффективном обучении
                и карьере Python‑разработчика.</p>
            </div>

            <div class="bottom">
            <h3>Самообучение</h3>
            <ul>
                <a href="{% url 'quests' %}"><li>Курс</li></a>
                <a href="{% url 'tasks' %}"><li>Задачи</li></a>
                <a href="{% url 'tests' %}"><li>Тесты</li></a>
                <a href=""><li>Игры</li></a>
                <a href="{% url 'help' %}"><li>Помощь</li></a>
            </ul>
            </div>

            <div class="bottom">
            <h3>Сообщество</h3>
            <ul>
                <a href=""><li>Форум</li></a>
                <a href=""><li>Статьи</li></a>
                <a href=""><li>Отзывы</li></a>
            </ul>
            </div>

            <div class="bottom">
            <h3>Компания</h3>
            <ul>
                <a href=""><li>О нас</li></a>
                <a href=""><li>Поддержка</li></a>
                <a href=""><li>F.A.Q.</li></a>
            </ul>
            </div>
        </div>
    </div>


    <div style="background: #121c24; height: 30px;">
        <div style="padding-top: 10px; text-align: center;">
            <p style="font-size: 6px; color: #d4d4d4;">«Программистами не рождаются» © 2025 PythonBoom</p>
        </div>
    </div>

{% endblock %}