{% extends 'main/global_layout.html' %}
{% load static %}
{% block title %}Курс Python - Карта проектов{% endblock %}

{% block content %}

    <script src="{% static 'quests/js/navbar.js' %}"></script>

    <div class="quests_content">

        <div class="quests_nav_container">
            <a href="" class="nav-item disabled">Все проекты</a>
            <div class="highlight-bar"></div>
        </div>

        <h3 style="font-size: 10px; text-align: center; padding-top: 10px;">Попробуй себя в разных сферах и найди то, что тебе понравиться!</h3>
        <p style="font-size: 10px; color: white; text-align: center; margin-top: -10px;">Пиши код, изучай необходимые базовые знания и получи результат которым можно гордиться!</p>

        <div class="quests_card" style="padding-top: 10px;">

            <div onclick="window.location.href='{% url 'python_django' %}';" class="project_card_format">
                <img src="{% static 'quests/img/Python_Django.svg' %}" alt="" style="margin: -21px; border-radius: 15px;">
                <h3 align="center">Python Django.</h3>
                <p align="left" >Разработка 3-х страничного сайта. <br> Технологии: Python, HTML, CSS, SQL.</p>
                <div class="bottom_element">
                    <div class="badge text-bg-success text-wrap" style="font-size: 8px; text-align: center; width: 70px; height: 15px;">
                        Доступен
                    </div>
                </div>
            </div>

            <div onclick="" class="project_card_format">
                <img src="{% static 'quests/img/development.svg' %}" alt="" style="margin: -21px; border-radius: 15px;">
                <h3 align="center">Telegram Bot.</h3>
                <p align="left"></p>
                <div class="bottom_element">
                    <div class="badge text-bg-danger text-wrap" style="font-size: 8px; text-align: center; width: 70px; height: 15px;">
                        В разработке
                    </div>
                </div>
            </div>

            <div onclick="" class="project_card_format">
                <img src="{% static 'quests/img/development.svg' %}" alt="" style="margin: -21px; border-radius: 15px;">
                <h3 align="center">Machine Learning.</h3>
                <p align="left"></p>
                <div class="bottom_element">
                    <div class="badge text-bg-danger text-wrap" style="font-size: 8px; text-align: center; width: 70px; height: 15px;">
                        В разработке
                    </div>
                </div>
            </div>

            <div class="project_card_format"">
                <img src="{% static 'quests/img/development.svg' %}" alt="" style="margin: -21px; border-radius: 15px;">
                <h3 align="center">Python Testing.</h3>
                <p align="left"></p>
                <div class="bottom_element">
                    <div class="badge text-bg-danger text-wrap" style="font-size: 8px; text-align: center; width: 70px; height: 15px;">
                        В разработке
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}