{% load static %}

<script src="{% static 'main/js/sectionTitle.js' %}"></script>

<header>
    <div class="head_info" style="padding: 0px 100px 0px 100px;">
        <div class="left_info" style="display: inline-block;">
            <h1 id="sectionTitle" style="font-size: 12px; padding-top: 7px;">Заголовок раздела</h1>
        </div>
        <div class="right_info">
            {% if user.is_authenticated %}
                <button onclick="window.location.href='{% url 'me' %}'" class="button-profile">
                    <div class="profile-avatar">
                        {% if user.profile.avatar %}
                            <img src="{{ user.profile.avatar.url }}" alt="Аватар {{ user.username }}"> <!-- Аватар пользователя -->
                        {% else %}
                            <img src="{% static 'forum/img/defoult_avatar.jpg' %}" alt="Аватар по умолчанию"> <!-- Аватар по умолчанию -->
                        {% endif %}
                        <p>{{ user.username }}</p> <!-- Имя пользователя -->
                    </div>
                </button>
            {% else %}
                <button onclick="window.location.href='{% url 'welcome' %}'" class="button-start small">Начать обучение</button>
            {% endif %}
        </div>
    </div>
</header>
