{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'quests/css/quests.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/41.1.0/super-build/ckeditor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>


    <style>
        .bottom-img {
            background-color: #1f2023;
        }
        {% block extra_css %}{% endblock %}
    </style>

</head>
<body>
    <aside>

        <aside_box_logo>
            <a href="{% url 'home' %}"><img src="{% static 'main/img/logo_simple.svg' %}" class="img-responsive" alt="Лого"></a>
        </aside_box_logo>

        <div class="aside_box">
            <h3>Обучение</h3>
            <ul>
                <a href="{% url 'quests' %}"><li><i class="bi bi-rocket-takeoff-fill" ></i><span style="margin-left: 8px;">Курс</span></li></a>
                <a href="{% url 'tasks' %}"><li><i class="bi bi-terminal-fill"></i><span style="margin-left: 8px;">Задачи</span></li></a>
                <a href="{% url 'tests' %}"><li><i class="bi bi-ui-checks-grid"></i><span style="margin-left: 8px;">Тесты</span></li></a>
                <a href="{% url 'projects' %}"><li><i class="bi bi-controller"></i><span style="margin-left: 8px;">Проекты</span></li></a>
                <a href="{% url 'help' %}"><li><i class="bi bi-info-circle-fill"></i><span style="margin-left: 8px;">Помощь</span></li></a>
            </ul>
        </div>
        <div class="aside_box">
            <h3>Сообщество</h3>
            <ul>
                <a href="{% url 'forum' %}"><li><i class="bi bi-chat-text-fill"></i><span style="margin-left: 8px;">Форум</span></li></a>
                <a href="{% url 'articles' %}"><li><i class="bi bi-book-fill"></i><span style="margin-left: 8px;">Статьи</span></li></a>
                <a href="{% url 'reviews' %}"><li><i class="bi bi-journal-text"></i><span style="margin-left: 8px;">Отзывы</span></li></a>
            </ul>
        </div>
    </aside>

    {% if request.path == "/" %}
        {% include 'main/special_header.html' %}
    {% else %}
        {% include 'main/global_header.html' %}
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="bottom-div">

            <div class="bottom-img">
                <img src="{% static 'main/img/block_panel.svg' %}" alt="panel" style="transform: rotate(180deg);">
            </div>

            <div style="background: var(--main-bg-color); margin-top: -23px;">
                <div class="content_block" style="min-height: 230px; padding-top: 50px;">
                    <div style="max-width: 180px;">
                        <img src="{% static 'main/img/logo_simple.svg' %}" alt="" style="max-width: 50%; margin-bottom: 10px; margin-top: -5px;">
                       <p style="font-size: 8px; color: #fff;">PythonBoom — это онлайн-курс по изучению Python-программирования c нуля с возможностью обучаться самостоятельно. В нем — большое количество задач с проверкой решения в один клик,
                        теория по основам Python  и практика работы с современными технологиями и инструментами, а также мотивационные фичи: игры, тесты, и статьи об эффективном обучении
                        и карьере Python‑разработчика.</p>
                    </div>

                    <div class="bottom">
                    <h3>Самообучение</h3>
                    <ul>
                        <a href="{% url 'quests' %}"><li>Курс</li></a>
                        <a href="{% url 'tasks' %}"><li>Задачи</li></a>
                        <a href="{% url 'tests' %}"><li>Тесты</li></a>
                        <a href="{% url 'projects' %}"><li>Проекты</li></a>
                        <a href="{% url 'help' %}"><li>Помощь</li></a>
                    </ul>
                    </div>

                    <div class="bottom">
                    <h3>Сообщество</h3>
                    <ul>
                        <a href="{% url 'forum' %}"><li>Форум</li></a>
                        <a href="{% url 'articles' %}"><li>Статьи</li></a>
                        <a href="{% url 'articles' %}"><li>Отзывы</li></a>
                    </ul>
                    </div>

                    <div class="bottom">
                    <h3>Компания</h3>
                    <ul>
                        <a href=""><li>О нас</li></a>
                        <a href=""><li>Поддержка</li></a>
                        <a href=""><li>F.A.Q.</li></a>
                    </ul>
                    </div>
                </div>
            </div>


            <div style="background: #121c24; height: 30px;">
                <div style="padding-top: 10px; text-align: center;">
                    <p style="font-size: 6px; color: #d4d4d4;">«Программистами не рождаются» © 2025 PythonBoom</p>
                </div>
            </div>

        </div>

    </footer>
</body>
</html>