{% load static %}

<script src="{% static 'main/js/sectionTitle.js' %}"></script>

<header>
    <div class="head_info" style="padding: 0px 100px 0px 100px;">
        <div class="left_info" style="display: inline-block;">
            <h1 id="sectionTitle" style="font-size: 12px; padding-top: 7px;">Заголовок раздела</h1>
        </div>
        <div class="right_info">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button-start small">Выйти</button>
                </form>
            {% else %}
                <button onclick="window.location.href='{% url 'welcome' %}'" class="button-start small">Начать обучение</button>
            {% endif %}
        </div>
    </div>
</header>
