<header>
    <div class="head_info">
        <div class="left_info">
            <ul>
                <li class="nav-item">
                  <a href="#course" class="nav-link">О курсе</a>
                </li>
                <li class="nav-item">
                  <a href="#features" class="nav-link">Особенности</a>
                </li>
                <li class="nav-item">
                  <a href="#format" class="nav-link">Формат обучения</a>
                </li>
                <li class="nav-item">
                  <a href="#prospects" class="nav-link">Перспективы Python</a>
                </li>
            </ul>
        </div>
        <div class="right_info">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button-start small">Выйти</button>
                </form>
            {% else %}
                <button onclick="window.location.href='{% url 'welcome' %}'" class="button-start small">Начать обучение</button>
            {% endif %}
        </div>
    </div>
</header>

